.calva
.clj-kondo/.cache
.clj-kondo/imports
.clj-kondo/inline-configs
.clj-kondo/.lock
.cpcache
.lsp
.nrepl-port
target

node_modules

# tailwind output
resources/public/css/styles.css

# opencode
.opencode
