{:paths ["bb" "src"]
 :tasks {tw  {:doc  "Watch Tailwind CSS"
              :task (shell "npx @tailwindcss/cli -i ./resources/public/input.css -o ./resources/public/styles.css --watch")}
         css {:doc  "Build CSS once (for CI or before clojure -X:build)"
              :task (shell "npx @tailwindcss/cli -i ./resources/public/input.css -o ./resources/public/styles.css")}
         nrepl-port {:doc "get the current nrepl-port"
                     :task (shell "cat .nrepl-port")}}}
