{:paths ["src" "resources"]
 :deps {no.cjohansen/powerpack {:mvn/version "2025.10.22"}}
 :aliases {:kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2026.01.19"}}}
           :dev {:extra-paths ["dev"]}
           :build {:exec-fn powerblog.export/export!}}}
