[{:db/ident :page/uri
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :page/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :page/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :page/date
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :page/body
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}
 {:db/ident :page/kind
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}
 {:db/ident :blog-post/author
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
 {:db/ident :blog-post/tags
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/many}
 {:db/ident :person/id
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity}
 {:db/ident :person/full-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}]
